* 
      {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      html {
        background-image: url(mandala.jpg);
      }
      body {
        font-family: "Lato", sans-serif;
      }
      
      .container {
        width: 90%;
        max-width: 1300px;
        margin: auto;
      }
      h1,h2 {
        color: #0c51e6;
        margin: 20px 0;
        padding-bottom: 20px;
        border-bottom: none solid rgb(252, 248, 248);
        text-align: center;
      }
      h1 span {
        display: block;
        color: rgb(54, 82, 240);
        font-size: 70px;
      }
      h1 span:nth-child(1) {
        font-weight: normal;
        color: #4cc406;
      }
      
      .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-gap: 120px;
        margin: 80px 0;
        
      }
      .card-wrapper {
        position: relative;
        min-height: 350px;
        perspective: 2000px;
        perspective-origin: top;
      }
      
      .card-wrapper:hover .card {
        transform: rotateY(180deg);
        
      }
      
      .card {
        width: 100%;
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.86,0,0.07,1);
    color: white;
    font-weight: bold;
  }
      
      .card-front, 
      .card-back {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 20px;
        border-radius: 25%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        text-align: center;
        
      }
      
      .card-front {
        background: #eb6c05;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .card-wrapper:nth-child(even) .card-front {
        background-color: #1a2f42;
      }
      
      .card-front p {
        font-size: 25px;
        line-height: 35px;
        align-items: center;
      }
      
      
      .card-back {
        background:#1a2f42;
        transform: rotateY(180deg);
       
        align-items: center;
        text-align: center;
      }
        
      .card-wrapper:nth-child(even) .card-back {
        background-color: #eb6c05;
      }
      
      .card-back a {
        display: inline-block;
        border-radius: 10px;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 1.5px;
        font-weight: normal;
        background-color: rgb(171, 35, 35);
        font-size: 14px;
        color: rgb(219, 217, 217);
        transition: 
        background-color 0.3s ease-out,
        color 0.3s ease-out;
      }
      
      .card-wrapper:nth-child(odd) .card-back a:hover {
        background-color: #0c46e7;
        color: #fff;
      }
      .card-wrapper:nth-child(even) .card-back a:hover {
        background-color: #ed5d34;
        color: #fff;
      }
      h2 {
        text-align: center;
        color: rgb(217, 217, 217);
        font-size: 30px;

   
      }
    .fieldset {
  position: relative;
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 5%;
  width: 70%; 
  font-size: 25px;
  color: rgb(38, 38, 38);
}

.texte_centrer {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  margin-left: 15%;
}
   
      #menu {
  position: fixed;
  right: 0;
  top: 70%;
  width: auto;
}

.mail {
  position: fixed;
  left: 80px;
  bottom: 20px;
  margin: 0;
}

.icone {
  width: 100px;
  height: 100px;
  display: block;
}

      .tel{
        position: absolute;
        bottom: -66%;
        right: 25%;
        color: rgba(0, 0, 0, 0.744);
      }
      

      .adress{
        position: absolute;
        bottom: -76%;
        right: 26%;
        color: rgba(9, 8, 8, 0.744);
      }

      .soft{
        font-size: 30px;
      }
      .point{
        opacity: 0;
      }

      h3{
        color: rgb(222, 223, 212);
        border: black solid 5px;
      
        font-size: 23px;
        font-family: "Apple Chancery", cursive;
      }
      ul {
        list-style-type: none;
        
        padding: auto;
        overflow: hidden;
        background-color: #333;
        
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .span{
        font-size: 45px;
        color: rgb(27, 110, 255);
        float: right;
        margin-right: 40%;
    }
    .comp{
      position: absolute;
      top: 0%;
      right: 0%;
      width: 100%;
      height: 100%;
      border-radius:25%;
    }
    .citation{
      font-family:"mv boli","ink free", sans-serif;
      color: #f79009;
    }
    .point{
      opacity: 0;
    }
    .final{
      color:white
    }

    button{
      color: red;
      position: absolute;
      right: 5%;
      top: 1%;
    }

    @media screen and (max-width: 1224px)
{
  .fieldset {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 80%;
    color: rgb(38, 38, 38);
    margin-left: 0%;
  }
  .banni{
  
        margin-top: 5%;
        width: 80%;
  }
    
      .container {
        width: 70%;
        max-width: 1400px;
        
      }
      .active{
        display: none;
      }
     .span {
        display: block;
        color: rgb(255, 255, 255);
        font-size: 30px;
       

      }
      .tel{
        opacity: 0;
      }
      .adress{
        opacity: 0;
      }
      #menu {
        position: fixed;
        right: -8%;
        top: 70%;
        width: 9.5em;
        margin-top: 12em;
      }
      .icone{
        width: 60%;
        height: 60%;
      }
.final{
        font-size: 10px;
      }
}
