
  body{
    background: url(mandala-4282571.jpg)  ;
    }
  .haut{
    background-color: rgb(88, 29, 147);
    width: 100%;
    height: 100px;
    margin-bottom: 0%;
}

#conteneur{
    width: 100%;
    height: 500px;
    display: flex;
justify-content: space-around;}


.box {
    background-color: transparent;
    width: 20%;
    height: 90%;
    
    perspective: 1000px;
    display: flex;
    border-radius: 10%;
  }
 
h1{
  font-size: 60px;
}
  
  p{
    align-items: center;
    text-align: center;
    color:white;
    font-size: 40px;
  }


img{
  width: 100%;
  height: 400px;
}


@media screen and (max-width: 1024px)
{
    h2{
        font-size: 20px;
    }

    .box {
        background-color: transparent;
        width: 150px;
        height: 300px;
       
        perspective: 1000px;
        display: flex;
        border-radius: 10%;
      }
}

